<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/notes2.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <title>Register - Noteify</title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
    body{
    background: #F4F4F4;
    /*background: linear-gradient(to top,#fcf9f9fb,#027a269a);*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;

  }
     #form{
            width: 100%;
            max-width:400px;
            margin:40px auto;
            background:#FFFFFF;
            padding:10px 20px;
            border:0px solid #ccc;
            border-radius:3px;
        }
        #form input{
          outline: none;
          display: flex;
          width: 100%;
          padding: 7px 10px;
          border-radius: 3px;
          border: 1px solid #ccc;
          transition: 100ms;
          -webkit-appearance: none;
        }
        #form input:focus{
          border: 1px solid #2b8ba6;
        }
      @media screen and (max-width: 700px){
       
        #form{
          max-width: 95%;
          margin: 10px 0px;
        }
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" style="font-family: 'Akaya Telivigala', cursive;letter-spacing: 1px;"><img src='../static/notes2.png' height="40" style="margin: 0px 10px">NOTEIFY</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img src="../static/menu.png" height='30'>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>



      <form method="post" id="form">
          <h2 align="center" style='color:rgb(82, 82, 82);font-weight:bold'>REGISTER</h2>
          <h6 align="center" style="color:#2b8ba6;font-size:15px">Create your new Noteify account</h6>
          <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" id="main_username" aria-describedby="emailHelp" name="mainUsername" autocomplete="off" maxlength="30" required placeholder="@username">
          <p style="color:red;margin:5px" id='usernameAlert2'></p>
        </div>

        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-func" id="InputEmail" aria-describedby="emailHelp" name="username" autocomplete="off" maxlength="30" required placeholder="Email address">
          <div id="emailHelp" class="form-text" style="color: #2b8ba6;">We'll never share your email with anyone else.</div>
          <p style="color:red;margin:5px" id='usernameAlert1'></p>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-func" id="InputPassword1" required minlength='8' placeholder="Create password" required>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" style="display:flex">Confirm password <i style="font-size:13px;margin-left: 5px;color:red;display: none;" id="confLabel">* not matched</i></label>
          <input type="password" class="form-func" id="InputPassword2" name='password' required minlength='8' placeholder="Retype your password">
        </div>
        <button type="submit" class="btn btn-dark" style="background:#4caf50;color:#fff;border:none">Create account</button>
        <p style="text-align:center;color:gray;margin:15px 0px">or continue with</p>
        <div class="google-login">
              <button type="button" style="width: 100%;background: #f8f8f8;border:none;padding:10px 0px;border-radius:3px;font-size:16px;color:gray;box-shadow: 0px 2px 5px #ccc;font-weight: bold;">
              <img src="../static/google.png" height="20" style="margin:2px -20px 0px 12px;background:#f8f8f8;border-radius: 3px;padding: 5px;transform: scale(2.0);float: left;">
            Sing in using Google</button>
        </div>
        <div style="text-align:center;margin:10px 0px;">
            <a href="/login" style="text-decoration: none;color:#4caf50;font-size:15px;">Already a member?</a>
       </div>
      </form>

<!-- footer -->
<footer style="padding: 10px;margin-top: auto;z-index:-1;opacity:0.9;text-align: center;z-index: -1">
  <img src="../static/notes2.png" height="30">
  <a href="/" style="text-decoration: none;color:#2b8ba6">noteify.com</a>
  <span id="copyright" style="color: #1b1b1b;">&copy 2021 | All rights reserved</span>
</footer>
<!-- ends -->

{{usernameAlert}}

{% if usernameAlert == 1 %}
    <script>
      var inpt = document.getElementsByClassName('form-func')[0];
      inpt.style.border = "1px solid red"
      var ptext = document.getElementById('usernameAlert1');
      ptext.innerText = "Email already exists!"
      inpt.onkeyup = function(){
        ptext.style.display = "none";
        inpt.style.border = "1px solid #ccc";
      }
    </script>
{% endif %}
{% if usernameAlert == 2 %}
  <script>
      var inpt = document.getElementById('main_username');
      inpt.style.border = "1px solid red"
      var ptext = document.getElementById('usernameAlert2');
      ptext.innerText = "Please choose different username!";
      inpt.onkeyup = function(){
        ptext.style.display = "none";
        inpt.style.border = "1px solid #ccc";
      }
    </script>
{% endif %}

<script>
  var confirmPassword = document.getElementsByClassName('form-func');
        confirmPassword[2].onkeyup = function(){
          if(confirmPassword[2].value !== confirmPassword[1].value){
            confirmPassword[2].style.border = "1px solid red";
            document.getElementById('confLabel').style.display = "block";
          }
          else{
            confirmPassword[2].style.border = "1px solid #ccc";
            document.getElementById('confLabel').style.display = "none"; 
          }
        }

$('#main_username').keyup(()=>{
  var wiped = $('#main_username');
  blocksym = ['[', '~', '`', '!', '@', '#', '$', '%', '\\', '^', '&', '*', '(', ')', '+', '=', '\\', '-', '\\', '[', '\\', ']', '\\', ';', ',', '/', '{', '}', '|', '\\', '"', ':', '<', '>', '\\', '?', ']']
  blocksym.map((chars)=>{
    wiped.val(wiped.val().replace(chars,''))
  });
})

</script>

</body>
</html>